<html>
    <head>
        <title>Spotify Social</title>
    </head>   
    <body>
        <body>
            <h1>Welcome to Spotify Social Listening!</h1>
            <p>Refresh page to sync your music stream with a friend! (may be a time delay based on network speed)</p>            
    
            <form action="/sync", method="POST">
            Player Token:<br>
            <input type="text" name="Player">
            <br>
            Listener Token:<br>
            <input type="text" name="Listener">
            <br><br>
            <input type="submit" value="Sync">
            </form> 
    
            
        </body>

    </body>
</html>
