<html>
    <head>
        <title>Spotify Social</title>
    </head>   
    <body>
        <body>
            <h1>Spotify Social</h1>
            <p>Refresh page to sync music stream! (may be a time delay based on network speed)</p>
    
            
    
            <form action="/refresh", method="POST">
            Player Token:<br>
            <input type="text" name="Player" value="">
            <br>
            Listener Token:<br>
            <input type="text" name="Listener" value="">
            <br><br>
            <input type="submit" value="Sync">
            </form> 
    
            
    
        </body>

    </body>
</html>
